.resource-detail .back-to-search-results {
  clear: both;
  display: block;
}
.resource-detail .main h1{
  font-size: 4em;
  font-weight: 600;
  color: black;
  margin-bottom: 0.3em;
}
.resource-detail h5{
  margin-bottom: 0;
}

.resource-detail .publication {
  float: right;
}

.resource-detail .content-types {
  float: right;
  clear: both;
  font-weight: 500;
}

.resource-detail .content-types .content-type > span:after {
  content: ' / ';

}

.resource-detail .content-types .content-type > span:last-child:after {
  content: '';
}

.resource-detail .authors label ,
.resource-detail .publishers label {
  margin-right: 1em;
  font-weight: 700;
}

.resource-detail .publishers .publisher:after ,
.resource-detail .authors .author:after {
  content: ', ';

}

.resource-detail .publishers .publisher:last-child:after ,
.resource-detail .authors .author:last-child:after {
  content: '';
}

.resource-detail .subsection label {
  font-size: 1.5em;
  font-weight: 600;
}


.resource-detail .geofocus-map {
  width: 100%;
  padding: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.resource-detail img {
  margin-bottom: 2em;
}
.resource-detail hr {
  clear: both;
  margin: 2em 0;
}
.resource-detail .geofocus-map .leaflet-container {
  height: 200px;
}
