.actions-index .description .showcase-resources {
  margin-top: 2em;
}
.collections {
  margin-top: 1em;
  padding-top: 1em;
}
.actions-index .lead-image .image-credit  {
  text-align: right;
}
.actions-index .lead-image img {
  width: 100%;
}
