.actions-detail .main h1{
  font-size: 4em;
  font-weight: 600;
  color: black;
  margin-bottom: 0.3em;
}
.actions-detail .lead-image .image-credit  {
  text-align: right;
}
.actions-detail .lead-image img {
  width: 100%;
}
