/* overrides so bootstrap modal works correctly */
.in.modal.fade {
  opacity: 1;
  display: block;
  margin-top: 5%;
  overflow: hidden;
}
div.modal-backdrop.fade {
    opacity: 0.5;
}

.modal.fade .modal-dialog {
  margin-top: 25%;
}

.modal-dialog li {
  display: block;

}
.modal-dialog li input {
  margin-right: 0.5em;
}

.modal-dialog .modal-body {
  overflow: auto;
  max-height: 500px;
}
