.search-page-content .search-map {
  display: flex;
  width: 100%;
}

.search-page-content .search-map-content {
  flex: 5;
  order: 1;
  max-width: 80%;
  padding: 0 1em;
  margin-bottom: 3em;
}

.search-map .geofocus-map {
  width: 100%;
  padding: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  position: relative;
  height: 100%;
}
.search-map .geofocus-map .leaflet-container {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 65vh;
}
