
.search-result:first-child {
  border-top: 1px solid #aaa;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em;
  border-bottom: 1px solid #aaa;
  margin: 0.2em 0;
}
.search-result:hover {
  background: #eee;
  cursor: pointer;
}
.search-result  .image img {
  max-height: 100px;
  display: block;
}
.search-result  .image {
  display: flex;
  flex: 1 0 0%;
  margin-left: 1em
}
.search-result .body {
  display: flex;
  flex: 4 0 75%;
  flex-direction: column;
}
.search-result .body label {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
