.sector-detail .main h1{
  font-size: 4em;
  font-weight: 600;
  color: black;
  margin-bottom: 0.3em;
}

.sector-detail .lead-image .image-credit  {
  text-align: right;
}
.sector-detail .lead-image img {
  width: 100%;
}

.sector-detail .subnav .actions .img-btn {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 5px;
  margin-top: 2rem;
}
.sector-detail .subnav .actions .btn {
  margin-bottom: 0;
}

.sector-detail .subnav .actions img {
  max-width: 100%;
}

.sector-detail .subnav .actions .btn label {
  margin: 0.5rem 0;
}

.sector-detail .subsection .section-img {
  float: right;
  margin: 0.5em 0 1em 1em;
  max-width: 35%;
}
.sector-detail .subsection .section-img img {
  width: 100%;
}
.sector-detail ul.collections li.collections-resource {
  display: list-item;
}
.sector-detail ul.collections {
  margin-top: 0;
}
.sector-detail .section-img .image-credit  {
  text-align: right;
}
