.default-layout .subsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.default-layout .subsection .content {
}

.default-layout .subsection .image {
}

.default-layout .subsection .highlighted-resources .btn {
  white-space: normal;
  word-break: break-word;
}

.default-layout .subsection  img {
  width: 100%;
  height: auto;
}
.default-layout .subsection label {
  font-size: 1.5em;
  background: #113f83;
  color: white;
  padding-left: 0.4em;
}
.default-layout .subsection label>a {
  color: white;
}
