@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900');

.app {
  padding: 1em;
}

.orange-text {
  color: #f27421;
}

.orange-bg {
  background: #f27421;
}

.gray-text {
  color: rgb(94,94,94);
}

.gray-bg {
  background: rgb(94,94,94);
}

.slate-text {
  color: #113f83;
}

.slate-bg {
  background: #113f83;
}
.light-slate-bg {
  background: #24559D;
}
/*
animation: App-logo-spin infinite 20s linear;
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
