@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900');

body {
  font-family: 'Raleway', sans-serif;
  min-width: 480px;
}
.image-credit {
  font-size: 0.7rem;
  padding: 0.5em;
}
.image-credit:before {
  content: "Photo: "
}
a {
  cursor: pointer;
  color: #113f83;
  font-weight: 500;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: #f27421 !important;
  border-color: #f27421 !important;
  color: white !important;

}
.app {
  padding: 0em;
}

.orange-text { color: #f27421; }
.orange-bg { background: #f27421; }

.gray-text { color: rgb(94,94,94); }
.gray-bg { background: rgb(94,94,94); }

.slate-text { color: #113f83; }
.slate-bg { background: #113f83; }

.light-slate-bg { background: #3f69a7; }

.animation-spin {
  animation: spin infinite 2s linear;
}

.footnote {
  vertical-align: super;
  font-size: 80%;
  margin-right: 0.5em;
}
ol.footnotes {
  font-weight: 300;
  font-size: 90%;
}
ol.footnotes :target {
  background: yellow;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.no-select,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
