.footer {
  margin-top: 2em;
  background: rgb(69,69,69);
  padding: 2em 2em 0em 2em;
}

.footer .logos {
  display: flex;
  flex-direction: row;
  max-width: 40%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .logos a {
  text-align: center;
}
.footer .logos img.primary-logo {
  max-height: 125px;
  height: 125px;
}
.footer .logos img {
  margin: 1em;
  max-height: 50px;
}

.footer .footer-content .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .footer-content .content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  color: white;
}

.footer .content label > a {
  margin-left: 1em;
}
.footer .content label {
  color: white;
}

.footer .content .btn {
  margin-top: 1em;
  white-space: normal;
  word-break: break-word;
}
.footer .copyright {
  display: block;
  border-top: 1px solid white;
  text-align: right;
  padding: 1em;
  color: white;
  background: #113f83;
  margin-top: 2em;
}

.footer .copyright > a{
  color: #6388bf;
}

.footer .content a {
  color: #6388bf;
}

.footer hr {
  width: 100%;
}
