.home-page .image-carousel  {
  width: 100%;
}
.home-page .image-carousel  {
  margin: 2em 0;
}
.home-page .resource-blocks {
  margin-top: 4em;
}
.home-page .sectors {
  margin-top: 2em;
  margin-bottom: 4em;
}
.home-page .image-carousel:last-child  {
  margin: 4em 0;
}

.home-page .resource-blocks.take-actions h1 {
  line-height: 1.3em;
  height: 4em;
}

.home-page .tag-line {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: -1em;
  font-weight: 500;
}

.home-page .tag-line a {
  font-weight: 700;
}

.home-page .slide.slr-image .image {
  background-position-y: top;
}
