.home-page .image-carousel  {
  width: 100%;
}
.home-page .image-carousel  {
  margin: 2em 0;
}
.home-page .resource-blocks {
  margin-top: 50px;
}
.home-page .sectors {
  margin-top: 2em;
  margin-bottom: 4em;
}
.home-page .image-carousel:last-child  {
  margin: 4em 0;
}

.home-page .resource-blocks h1 {
  line-height: 1.3em;
  height: 3em;
}

.home-page .tag-line {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: -1em;
  font-weight: 500;
}

.home-page .tag-line a {
  font-weight: 700;
}

.home-page .slide.slr-image .image {
  background-position-y: top;
}

.home-page .changes-images {
}
.home-page .changes-images .image {
  background-position-y: top;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  background-size: cover;
}

.oneplusfour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.oneplusfour div.img {
  width: 60%;
  background: blue;
  background-position: center top;
}
.oneplusfour .img:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}
.oneplusfour .boxen {
  display: block;
  width: 38%;
  float: right;
}
.oneplusfour .boxen .box {
  float: left;
  width: 50%;
  position: relative;
}
.oneplusfour .boxen .box .content:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.oneplusfour .boxen .box .content h3 {
  text-align: center;
  font-size: 140%;
  padding: 5px 0;
}
.oneplusfour .boxen .box .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.oneplusfour .boxen .box .background text {
  display: none;
}
.oneplusfour .boxen .box .background {
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0.15;
  transition: all 0.1s;
}
.oneplusfour .boxen .box:hover h3 {
  width: 100%;
  background: rgba(255,255,255,0.90);
}
.oneplusfour .boxen .box:hover a:hover {
  text-decoration: none;
  cursor: pointer;
}
.oneplusfour .boxen .box:hover .background {
  opacity: 1;
}
.oneplusfour .boxen .box:hover .background svg {
  fill: #113f83;
}
.oneplusfour .boxen .box .background svg {
  fill: rgb(94,94,94);
}
.oneplusfour .boxen .box:first-child > div {
  margin: 0 5% 5% 0;
}
.oneplusfour .boxen .box:nth-child(2) > div {
  margin: 0 0 5% 5%;
}
.oneplusfour .boxen .box:nth-child(3) > div {
  margin: 5% 5% 0 0;
}
.oneplusfour .boxen .box:nth-child(4) > div {
  margin: 5% 0 0 5% ;
}

/* > 1024 */
@media(min-width:1025px){
}
/* < 1024 */
@media(max-width:1024px){
  .oneplusfour {
    flex-direction: column;
  }
  .oneplusfour div.img {
    width: 100%;
    max-height: 200px;
  }
  .oneplusfour div.boxen {
    width: 100%;
  }
  .oneplusfour .boxen .box {
    width: 25%;
  }
  .oneplusfour .boxen .box h3 {
    font-size: 125%;
  }
  .oneplusfour .boxen .box > div {
    margin: 5% !important;
  }
}
/* < 1024 */
@media(max-width:768px){
  .oneplusfour .boxen {
    width: 100%;
  }
  .oneplusfour {
    flex-direction: column;
  }
  .oneplusfour div.img {
    display: none;
  }
  .oneplusfour div.boxen {
    width: 100%;
  }
  .oneplusfour .boxen .box {
    width: 50%;
  }
  .oneplusfour .boxen .box h3 {
    font-size: 125%;
  }
  .oneplusfour .boxen .box > div {
    margin: 4% !important;
  }

}
