.ReactModal__Overlay {
  z-index: 1000000;
}
.ReactModal__Overlay  img.gov-baker-image {
  float: right;
  width: 25%;
  margin: 1em;
}
.ReactModal__Overlay  .fa-times-circle-o:hover {
  cursor: pointer;
  color: #f27421;
}
.ReactModal__Overlay  .fa-times-circle-o {
  float: right;
  margin: 0 0 1em;
  font-size: 45px;
  font-weight: 100;
  color: rgb(94,94,94);
}

.ReactModal__Overlay .ma-gov-sig {
  display: block;
  width: 100%;
  text-align: left;
}

.ReactModal__Overlay .ma-gov-sig:after {
    content: "";
    clear: both;
    display: table;
}

.ReactModal__Overlay .ma-gov-sig img {
  margin: 25px 0 25px 0;
}
.ReactModal__Overlay .ma-gov-sig img.seal {
  max-height: 120px;
}
.ReactModal__Overlay .ma-gov-sig .btn {
  float: right;
}
