.showcase-resources ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-around;
}
.showcase-resources ul > li {
  display: flex;
  flex: 0 0 250px;
}
.showcase-resources .resource {
  flex-direction: column;
  position: relative;
}

.showcase-resources .resource label {
}
.showcase-resources .resource .img-link {
  text-align:center;
}
.showcase-resources .resource img {
  max-width: 100%;
  min-width: 100%;
}
