.image-carousel {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.image-carousel .image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10000;
  color: #666;
  background: white;
  font-size: 0.7rem;
  padding: 0.5em;
}
.image-carousel .carousel-preload {
  display: none;
}
.image-carousel .slide a ,
.image-carousel .slide a:hover ,
.image-carousel .slide a:active ,
.image-carousel .slide a:focus ,
.image-carousel .slide a:visited {
  color: white;
}
.image-carousel * {
  min-height: 0;
  min-width: 0;
}

.image-carousel .carousel-window {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  height: 65vh;
  min-height: 400px;
  max-height: 630px;
}

.image-carousel .slide {
  flex: 1 0 100%;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.image-carousel .slide .image {
  max-width:100%;
  height:auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image-carousel .slide.climate-change-data-slide  {
  padding: 75px;
}
.image-carousel .slide.climate-change-data-slide .image {
  background-position: right center;
  background-size: contain;
}
.image-carousel .slide.mvp-slide .image {
  background-position: 75% center;
  background-size: contain;
}
.image-carousel .slide.take-action-slide .image {
  background-position: center top;
}

.image-carousel .slide .content{
  text-shadow: 0px 0px 1px black;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 6em;
  color: white;
  background: #113f83; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, #113f83, rgba(94,94,94,0.0)); /* Standard syntax */
  background: -o-linear-gradient(right, rgba(94,94,94,1.0), rgba(94,94,94,0.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(94,94,94,1.0), rgba(94,94,94,0.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #113f83, rgba(94,94,94,0.0)); /* Standard syntax */
}

.image-carousel .crumbs {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5em;
  text-align: center;
  z-index: 100;
  font-size: 14px;
}

.image-carousel .crumbs .crumb {
  vertical-align: baseline;
  display: inline;
  background: #113F83;
  padding: 0.5em 1em;
  color: white;
  margin-right: 1em;
  border: 1px solid #113F83;
}
.image-carousel .crumbs .crumb.active {
  color: #113F83;
  background: white;
}

.image-carousel .controls .arrow {
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
}
.image-carousel .controls .arrow.next{
  right: 0;
  top: 0;
  bottom: 0;
}

.image-carousel .controls .arrow.previous{
  left: 0;
  top: 0;
  bottom: 0;
}

.image-carousel .controls .arrow span {
  padding: 1em;
  color: white;
  background: #113F83;
  border: 1px solid white;
}

@media(max-width:767px){
  .image-carousel .slide .content{
    padding: 4em;
  }
}
@media(min-width:768px){
}
@media(min-width:992px){}
@media(min-width:1200px){}
