
.resource-blocks .row {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resource-blocks a.block p > a {
  margin-left: 0.5em;
}
.resource-blocks .block h1 > a ,
.resource-blocks .block h1 > a:hover ,
.resource-blocks .block h1 > a:active ,
.resource-blocks .block h1 > a:focus ,
.resource-blocks .block h1 > a:visited {
  color: white;
}
.resource-blocks .block {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  border: 1em solid transparent;
}
.resource-blocks .block h1 {
  line-height: 1.3em;
  height: 3.5em;
  font-size: 1.1em;
  text-align: center;
  background: #113f83;
  font-weight: 300;
  padding: 0.5em;
  border-bottom: 8px solid #3f69a7;
  color: white;
  margin-bottom: 0;
}

.resource-blocks .block img {
  height: auto;
  width: 100%;
  /*max-height:253px;*/
}
