.home-page .section-header {
  border-bottom: 1px solid #CA4D00;
  margin-bottom: 1em;
  margin-top: 4em;
}
.home-page .section-header .fa {
  margin-left: 1em;
  font-weight: 800;
  color: #113f83;
}
