.instructions .table td.term {
  text-align: center;
  font-weight: 600;
}

.instructions li strong {
}

.facets .badge {
  color: black;
  border: 1px solid #f27421;
  background: white;
  border-radius: 0;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em 0.5em;
}
.facets .badge.active {
  background: #f27421;
  color: white;
}

.form-group > label {
  font-weight: 700;
}

.submit-row {
  border-top: 1px solid #eee;
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-group .fa-caret-down,
.form-group .fa-caret-right {
  margin-left: 1em;
}

.data-layout .subnav > div h4 {
  border-bottom: 2px solid black;
}
.data-layout .subnav > div {
  padding: 0.5em;
}
.data-layout .subnav .table td{
  border: none;
}
