.data-layout .main {
  padding-top: 1em;
}
.data-layout .main h1{
  font-size: 2em;
  font-weight: 600;
  color: black;
  margin-bottom: 0.3em;
}

.data-layout .banner-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.data-layout .banner-data > a {
  margin-right: 2em;
}
